/* 
---------------------------------------------------------------------------------------------
---------------------------------- - Barra de navegacion - ---------------------------------- 
---------------------------------------------------------------------------------------------
*/
nav.top-header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: #ffd700;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin-bottom: 60px;
}
nav.top-header > a.menu-item {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 5px 5px 0 5px;
    min-width: 70px;
    min-height: 70px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #926f1d;
    border-bottom: 5px solid rgba(255,255,255,0);
    box-sizing: border-box;
}
nav.top-header > a.menu-item:hover {
    background-color: rgba(255,255,255,0.3);
    background-image: radial-gradient(100% 20% at 50% 100%, rgba(255,255,255,0.8) 0%, transparent 100%);
    border-bottom: 5px solid rgba(255,255,255,0.9);
    color: #000;
}
nav.top-header > a.menu-item:hover > img {
    filter: brightness(0%);
}
nav.top-header > a.menu-item > img {
    width: 40px;
    height: 40px;
    margin: auto;
}
nav.top-header > a.menu-item > img {
    margin: auto;
}

nav.top-header > a.menu-item.user {
    margin-left: auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
nav.top-header > a.menu-item.user > div.user-avatar {
    background-color: #00a1f1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    font-weight: 400;
}
nav.top-header > a.menu-item.user > div.username {
    font-size: 1.3em;
    margin: 5px;
}

section.index-container {
    display: flex;
    flex-flow: row wrap;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
}


.logout-button{
    position: absolute;
    right: 10px;
    top: 80px;
    background-color: #DA0000;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.logout-button:hover{
    text-decoration: none;
    background-color: #ae0000;
}