/* Botones de la orden */
div.form-buttons {
    grid-area: buttons;
}
div.form-buttons > input.input-submit-button{
    padding: 10px;
    float: right;
    font-size: 1em;
}
div.form-buttons > input.input-submit-button:after {
    clear:both;
}

/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - order.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
#update-date {
    float: right;
}
#update-date:after {
    clear: both;
}
#order-description {
    grid-area: description;
}
div.form-container.order > form{
    display: grid;
    grid-template-columns: calc(50% - 10px) 50%;
    grid-template-areas: "info info" "client employee" "estate estate" "order-items order-items" "description description" "buttons buttons";
    grid-gap: 10px;
}
div.form-container.order div.order-info {grid-area: info}
div.form-container.order div.client-info{grid-area: client}
div.form-container.order div.employee-info{grid-area: employee}
div.form-container.order div.order-items-container {grid-area: order-items;}

/* Estados */
div.form-container.order div.estate-container{
    grid-area: estate;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}
div.form-container.order div.estate-container > h2{flex-basis: 100%; margin: 10px auto 5px;}
div.form-container.order div.estate-container > label.boxed-radio{flex-basis: calc(50% - 5px);}
div.form-container.order div.estate-container > label.boxed-radio:nth-child(even):last-child{flex-basis: 100%;}
/* Order Items */
div.order-items-container {
    position: relative;
}
div.order-items-container > div.order-items > div.no-order-items{
    height: 10em;
    text-align: center;
    line-height: 10em;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #777;
}

div.order-items-container > div.order-items > div.order-item{
    display: grid;
    grid-template-areas: "clothe fix price" "description description description" "borrar borrar borrar";
    grid-template-columns: auto auto 140px;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
}
div.order-items-container > div.order-items > div.order-item > label.clothe{
    grid-area: clothe;
}
div.order-items-container > div.order-items > div.order-item > label.fix{
    grid-area: fix;
}
div.order-items-container > div.order-items > div.order-item > label.price{
    grid-area: price;
}
div.order-items-container > div.order-items > div.order-item > label.price:after{
    content: "€";
    display: block;
    height: calc(100% - 10px);
    position: relative;
    top: 3px;
    left: -10px;
}
div.order-items-container > div.order-items > div.order-item > .remove-order-item {
    grid-area: borrar;
    position: initial;
    display: inline-block;
    width: 80px;
    margin: 5px 0 5px auto;
}

div.order-items-container > div.order-items > div.order-item > label.order-item-description {
    grid-area: description;
}
@media(max-width: 800px){
    div.order-items-container > div.order-items > div.order-item{
        display: grid;
        grid-template-areas: "clothe clothe" "fix price" "description description";
        grid-template-columns: auto 150px;
    }
}
/* Boton Añadir Prenda */
div.order-items-container div.button {
    position: absolute;
    right: 0em;
    top: 1em;
    padding: 0.3em 1em;
    background-color: #ffd700;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

div.order-items-container div.button:hover{
    background-color: #ffe34d;
}

/* Ventana Modal Buscar usuarios */
div.modal-box div.modal-search-results > div.modal-search-result > span.name {
    width: 185px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.modal-box div.modal-search-result > span.user {
    min-width:130px;
    margin-right: 5px
}
div.modal-box div.modal-search-result > span.user:after {
    display: block;
    content: "";
    position: absolute;
    height: calc(100% - 6px);
    top: 3px;
    right: 0;
    border-left: 1px solid #ddd;
}
div.modal-box div.modal-search-results > div.modal-search-result > span.role {
    min-width:120px; 
    margin-left: auto; 
    font-size: 0.9em; 
    height: 1.4em; 
    line-height: 1.4em
}
div.modal-box div.modal-search-results > div.modal-search-result > span.role:after {
    display: block;
    content: "";
    position: absolute;
    height: calc(100% - 6px);
    top: 3px;
    left: -5px;
    border-left: 1px solid #ddd;
}

@media(max-width: 1000px){
    div.form-container.order > form{
        grid-template-columns: 100%;
        grid-template-areas: "info" "client" "employee" "estate" "order-items" "description" "buttons";
        grid-gap: 0px;
        
    }
    div.form-container.order div.estate-container > label.boxed-radio{flex-basis: 100%;}
}

.modal-box.new-order-item .select-clothe, 
.modal-box.new-order-item .select-fix{
    width: 100%;
}
.modal-box.new-order-item > .modal-box-content {
    height: initial;
}
.modal-box.new-order-item .modal-box-body{
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-template-areas: "error error" "clothe fix" "price price" "desc desc" "button button";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 35px 40px 100px 50px;
    height: 300px;
    grid-column-gap: 10px;
}
.modal-box.new-order-item .modal-box-body > .msg{
    grid-area: error;
    margin-bottom: 10px;
}
#select-clothe{
    grid-area: clothe;
}
#select-fix{
    grid-area: fix;
}
#order-item-description{
    grid-area: desc;
}
#order-item-price{
    grid-area: price;
}
#order-item-submit{
    grid-area: button;
}
#order-item-submit{
    grid-area: button;
}
/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - user.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
div.form-container.user {
    display: grid;
    grid-template-areas: "data data" "account password" "personal personal" "active active" "role role" "submit submit";
    grid-template-columns: 50% 50%;
}
div.form-container.user .form-buttons {
    flex-basis: 100%;
    align-self: flex-end;
}
#user-info-container {
    grid-area: data;
}
#user-info-container > div{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px;
}
#account-info-container {
    grid-area: account;
}
#account-info-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#account-info-container > div > label{
    flex-basis: 100%;
}
/* Cambiar contraseña */
#change-password-container {
    grid-area: password;
}
#change-password-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#change-password-container > div > label{
    flex-basis: 100%;
}

/* Informacion personal*/
#personal-info-container {
    grid-area: personal;
}
#personal-info-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#personal-info-container > div > label{
    flex-basis: 100%;
}

/* Form activo*/
#active-form {
    grid-area: active;
}
/* Form roles*/
#role-form {
    grid-area: role;
}
#active-form > div,
#role-form > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
#active-form > div > label,
#role-form > div > label{
    flex-basis: calc(50% - 5px);
}
#role-form > div > label:last-child{
    flex-basis: 100%;
}
@media(max-width: 1000px){
    div.form-container.user{
        grid-template-columns: 100%;
        grid-template-areas: "data" "account" "password" "personal" "active" "role" "submit";
        grid-gap: 0px;
        
    }
    #active-role-form > div.active-container > div > label,
    #active-role-form > div.role-container > div > label{
            flex-basis: 100%;
    }
}


/* ----- registrar usuario ------ */
div.form-container.new-user form{
    display: grid;
    grid-template-areas: "header header" "account info" "active active" "role role" "submit submit";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}
div.form-container.new-user  #header {
    grid-area: header;
}
div.form-container.new-user #account-info {
    grid-area: account;
    display: flex;
    flex-flow: column;
}
div.form-container.new-user #personal-info {
    grid-area: info;
    display: flex;
    flex-flow: column;
}
div.form-container.new-user #account-info > label,
div.form-container.new-user #personal-info > label {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
div.form-container.new-user #active-form {
    grid-area: active;
}
div.form-container.new-user #role-form {
    grid-area: role;
}
div.form-container.new-user form > .form-buttons{
    grid-area: submit;
}
/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - clothe.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
div.form-container.clothe {
    display: grid;
    grid-template-areas: "info"  "active" "fixes";
    grid-template-columns: 100%;
}
#clothe-info-container {
    grid-area: info;
}
#clothe-info-container > div {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
}
#clothe-info-container .msg {
    flex-basis: calc(100% - 40px);
}
#clothe-info-container > div > label{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 5px;
}
#clothe-info-container > div > #clotheID{
    flex-basis: 80px;
    flex-grow: 0;
}
#clothe-info-container > div > #create-date,
#clothe-info-container > div > #update-date{
    flex-basis: 320px;
    min-width: 320px;
    flex-grow: 1;
}
#clothe-info-container > div > #create-date > .text-label,
#clothe-info-container > div > #update-date > .text-label{
    width: 125px;
}
#clothe-info-container > div > :last-child{
    flex-basis: 100%;
    padding: 0 5px;
}
#active-container {
    grid-area: active;
}
#active-container > div{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}
#active-container > div > label{
    flex-basis: calc(50% - 5px);
}
#fixes-table{
    grid-area: fixes;
}
#fixes-table .form-buttons:after{
    clear:both;
    content: " ";
    display: block;
}
#fixes-table tr{
    box-shadow: none;
}
#fixes-table .table-container{
    box-shadow: none;
    border: 1px solid #ddd;
    background-color: #fff;
}
#fixes-table .table-container th{
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
#fixes-table .table-container tr{
    border: 1px solid #ddd;
}
@media(max-width: 1000px){
    #active-container > div > label{
        flex-basis: 100%;
    }
}

/* Ventana Modal */
div.modal-box.add-fix > .modal-box-content{
    height: 350px !important;
    
}
div.modal-box.add-fix > .modal-box-content > .modal-box-body label.boxed-input{
    width: calc(100% - 12px);
}
div.modal-box.add-fix > .modal-box-content > .modal-box-body div.form-buttons{
    display: flex;
    align-content: center;
    justify-content: center;
}
/* tabla */
/*
table.fixes-table td.active {width: 30px;}
table.fixes-table td.id {width: 80px;}
table.fixes-table td.price {width: 50px;}
table.fixes-table td.date {width: 200px;}
table.fixes-table td.toogle {width: 100px; text-align: center;}
table.fixes-table td.toogle > a{width: 80px;}
@media (max-width: 1000px){
    table.fixes-table td.active,
    table.fixes-table td.id,
    table.fixes-table td.price,
    table.fixes-table td.date,
    table.fixes-table td.toogle{
        width: auto;
    }
}
*/
div.table-like-container.fixes {
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
}

div.table-like-container.fixes > .item > .elem > input{
    border: 0;
    -webkit-appearance: none;
    background-color: transparent;
    color: #000;
    font-size: 1em;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
div.table-like-container.fixes > .item > .elem > input:focus{
    box-shadow: 0 0 0 2px #0060ac;
}
div.table-like-container.fixes > .item:hover > .elem > input{
    border: 1px solid #ddd;
    background-color: #fff;
}

div.table-like-container.fixes > .item:hover > .elem > input:disabled{
    border: 1px solid transparent;
    background-color: transparent;
}
div.table-like-container.fixes > .item > .elem.id{
    flex-basis: 50px;
    min-width: 50px;
    text-align: center;
}
div.table-like-container.fixes > .item > .elem.id > input {
    width: 100%;
}
div.table-like-container.fixes > .item.header > .elem.id{
    flex-basis: 50px;
    padding-left: 20px;
    text-align: left;
}
div.table-like-container.fixes > .item > .elem.name{
    /*flex-basis: calc(60% - 100px);*/
    flex-grow: 2;
    min-width: 100px;
}
div.table-like-container.fixes > .item.header > .elem.name{
    /*flex-basis: calc(60% - 110px);*/
    flex-grow: 2;
    min-width: 100px;
}
div.table-like-container.fixes > .item > .elem.price{
    flex-basis:80px;
    min-width: 80px;
}
div.table-like-container.fixes > .item > .elem.price > input {
    text-align: right;
    width: calc(100% - 22px);
    padding: 5px 2px 5px 0;
}
div.table-like-container.fixes > .item > .elem.active{
    flex-basis:100px;
    min-width: 100px;
    justify-content: center;
}
div.table-like-container.fixes > .item > .elem.creation-date,
div.table-like-container.fixes > .item > .elem.update-date{
    flex-basis:180px;
    min-width: 180px;
}
div.table-like-container.fixes > .item > .elem.buttons{
    justify-content: flex-end;
    border-left: 1px solid transparent;
    flex-basis: 100px;
}
div.table-like-container.fixes > .item > .elem.buttons > button{
    visibility: hidden;
    padding: 0;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}
div.table-like-container.fixes > .item:hover > .elem.buttons > button{
    visibility: visible;
}
div.table-like-container.fixes > .item > .elem.buttons > button.edit{background-image: url(../media/img/edit-w.png);}
div.table-like-container.fixes > .item > .elem.buttons > button.edit:hover{background-color: #0060ac}
div.table-like-container.fixes > .item > .elem.buttons > button.enable{background-image: url(../media/img/tick-w.png);}
div.table-like-container.fixes > .item > .elem.buttons > button.enable:hover{background-color: #32CD32}
div.table-like-container.fixes > .item > .elem.buttons > button.disable{background-image: url(../media/img/cross-w.png);}
div.table-like-container.fixes > .item > .elem.buttons > button.disable:hover{background-color: #DA0000}


@media (max-width: 1100px){
    div.table-like-container.fixes > .item > .elem.creation-date,
    div.table-like-container.fixes > .item > .elem.update-date{
        display: none;
    }
}
