/* Botones de la orden */
div.form-buttons {
    grid-area: buttons;
}
div.form-buttons > input.input-submit-button{
    padding: 10px;
    float: right;
    font-size: 1em;
}
div.form-buttons > input.input-submit-button:after {
    clear:both;
}

/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - order.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
#update-date {
    float: right;
}
#update-date:after {
    clear: both;
}
#order-description {
    grid-area: description;
}
div.form-container.order > form{
    display: grid;
    grid-template-columns: calc(50% - 10px) 50%;
    grid-template-areas: "info info" "client employee" "estate estate" "order-items order-items" "description description" "buttons buttons";
    grid-gap: 10px;
}
div.form-container.order div.order-info {grid-area: info}
div.form-container.order div.client-info{grid-area: client}
div.form-container.order div.employee-info{grid-area: employee}
div.form-container.order div.order-items-container {grid-area: order-items;}

/* Estados */
div.form-container.order div.estate-container{
    grid-area: estate;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}
div.form-container.order div.estate-container > h2{flex-basis: 100%; margin: 10px auto 5px;}
div.form-container.order div.estate-container > label.boxed-radio{flex-basis: calc(50% - 5px);}
div.form-container.order div.estate-container > label.boxed-radio.full-width{flex-basis: 100%;}
/* Order Items */
div.order-items-container {
    position: relative;
}
div.order-items-container > div.order-items > div.no-order-items{
    height: 10em;
    text-align: center;
    line-height: 10em;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #777;
}

div.order-items-container > div.order-items > div.order-item{
    display: grid;
    grid-template-areas: "clothe fix price" "description description description";
    grid-template-columns: auto auto 140px;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
}
div.order-items-container > div.order-items > div.order-item > label.clothe{
    grid-area: clothe;
}
div.order-items-container > div.order-items > div.order-item > label.fix{
    grid-area: fix;
}
div.order-items-container > div.order-items > div.order-item > label.price{
    grid-area: price;
}
div.order-items-container > div.order-items > div.order-item > label.price:after{
    content: "€";
    display: block;
    height: calc(100% - 10px);
    position: relative;
    top: 3px;
    left: -10px;
}
div.order-items-container > div.order-items > div.order-item > label.order-item-description {
    grid-area: description;
}
@media(max-width: 800px){
    div.order-items-container > div.order-items > div.order-item{
        display: grid;
        grid-template-areas: "clothe clothe" "fix price" "description description";
        grid-template-columns: auto 150px;
    }
}
/* Boton Añadir Prenda */
div.order-items-container div.button {
    position: absolute;
    right: 0em;
    top: 1em;
    padding: 0.3em 1em;
    background-color: #ffd700;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

div.order-items-container div.button:hover{
    background-color: #ffe34d;
}

/* Ventana Modal Buscar usuarios */
div.modal-box div.modal-search-results > div.modal-search-result > span.name {
    width: 185px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.modal-box div.modal-search-result > span.user {
    min-width:130px;
    margin-right: 5px
}
div.modal-box div.modal-search-result > span.user:after {
    display: block;
    content: "";
    position: absolute;
    height: calc(100% - 6px);
    top: 3px;
    right: 0;
    border-left: 1px solid #ddd;
}
div.modal-box div.modal-search-results > div.modal-search-result > span.role {
    min-width:120px; 
    margin-left: auto; 
    font-size: 0.9em; 
    height: 1.4em; 
    line-height: 1.4em
}
div.modal-box div.modal-search-results > div.modal-search-result > span.role:after {
    display: block;
    content: "";
    position: absolute;
    height: calc(100% - 6px);
    top: 3px;
    left: -5px;
    border-left: 1px solid #ddd;
}

@media(max-width: 1000px){
    div.form-container.order > form{
        grid-template-columns: 100%;
        grid-template-areas: "info" "client" "employee" "estate" "order-items" "description" "buttons";
        grid-gap: 0px;
        
    }
    div.form-container.order div.estate-container > label.boxed-radio{flex-basis: 100%;}
}

/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - user.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
div.form-container.user {
    display: grid;
    grid-template-areas: "data data" "account password" "personal personal" "active active" "role role" "submit submit";
    grid-template-columns: 50% 50%;
}
div.form-container.user .form-buttons {
    flex-basis: 100%;
    align-self: flex-end;
}
#user-info-container {
    grid-area: data;
}
#user-info-container > div{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px;
}
#account-info-container {
    grid-area: account;
}
#account-info-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#account-info-container > div > label{
    flex-basis: 100%;
}
/* Cambiar contraseña */
#change-password-container {
    grid-area: password;
}
#change-password-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#change-password-container > div > label{
    flex-basis: 100%;
}

/* Informacion personal*/
#personal-info-container {
    grid-area: personal;
}
#personal-info-container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px 5px;
}
#personal-info-container > div > label{
    flex-basis: 100%;
}

/* Form activo*/
#active-form {
    grid-area: active;
}
/* Form roles*/
#role-form {
    grid-area: role;
}
#active-form > div,
#role-form > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
#active-form > div > label,
#role-form > div > label{
    flex-basis: calc(50% - 5px);
}
#role-form > div > label:last-child{
    flex-basis: 100%;
}
@media(max-width: 1000px){
    div.form-container.user{
        grid-template-columns: 100%;
        grid-template-areas: "data" "account" "password" "personal" "active" "role" "submit";
        grid-gap: 0px;
        
    }
    #active-role-form > div.active-container > div > label,
    #active-role-form > div.role-container > div > label{
            flex-basis: 100%;
    }
}