#user-cp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.user-panel {
    background-color: #fff;
    margin: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
}
#register, #login {
    display: block;
    width: 150px;
    margin: 10px auto;
    margin-top: -10px;
    font-size: 1em;
    padding: 10px 0;
}
div.user-panel-header {
    text-align: center;
    padding: 10px;
}
div.user-panel-header > h1 {
    margin: 0;
    font-size: 1.4em;
    font-weight: 700;
}
div.user-panel-header > div.main-text {
    font-size: 1em;
    font-weight: 600;
}
div.user-panel-header > div.sub-text {
    font-size: 0.8em;
}


#register-panel {
    top: calc(50vh - 350px);
}
#sesion-info .text-label {
    width: 120px;
}
#personal-info .text-label {
    width: 60px;
}
#login-info .text-label {
    width: 80px;
}
@media (max-height: 700px){
    #register-panel {
        top: 0;
    }
}
@media (max-width: 500px){
    #register-panel {
        width: 100%;
    }
}