
/* Contenedor Filtros */
.item-filters {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 10px;
}
.item-filters > h1 {
    position: absolute;
    top: -0.7em;
    left: 0.6em;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    font-size: 1.2em;
    margin: 0;
    border: 1px solid #ddd;
    
}
.item-filters > label {
    margin: 5px 10px;
}
.item-filters > input.input-submit-button {
    margin-left: auto;
    margin-right: 10px;
}
/* ---- custom select filters ---- */
/* Estados ordenes - activo - roles */
div.custom-select.labeled, div.custom-select{
    width: 125px;
}
div.custom-select.labeled.role-filter{width: 150px;}
div.custom-select.labeled > .custom-select-dropdown > div.custom-select-option
{
    padding: 5px 0;
    margin: 10px 0;
    text-align: center;
    line-height: normal;
}
div.custom-select.labeled > .custom-select-dropdown > div.custom-select-option span.label-box{
    position: relative;
    top: -1px;
    line-height: 25px;
    width: 100px;
}
div.custom-select.labeled.role-filter > .custom-select-dropdown > div.custom-select-option span.label-box {width: 110px;}
div.custom-select.labeled > .custom-select-dropdown > div.custom-select-option:first-child{
    margin-top: 0px
}
div.custom-select.labeled > .custom-select-dropdown > div.custom-select-option:last-child{
    margin-bottom: 0px
}
div.custom-select.labeled > .custom-select-dropdown > div.custom-select-option:after{
    bottom: -5px;
}
/* Estados ordenes*/
div.custom-select.order-by-filter{
    width: 180px;
    
}
div.custom-select.order-by-filter > .custom-select-dropdown > div.custom-select-option{
    padding: 0px 5px;
    margin: 5px 0;
}
div.custom-select.order-by-filter > .custom-select-dropdown > div.custom-select-option:first-child {margin-top: 0px}
div.custom-select.order-by-filter > .custom-select-dropdown > div.custom-select-option:last-child {margin-bottom: 0px}
div.custom-select.order-by-filter > .custom-select-dropdown > div.custom-select-option:after {
    bottom: -3px;
}
/* Estados ordenes*/
div.custom-select.order-direction-filter{
    width: 125px; 
}
/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - Trabajador.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
div.worker-container {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "buttons buttons" "my-orders updates" "all-orders updates";
}
@media (max-width: 1000px){
    div.worker-container {
        grid-template-columns: 100%;
        grid-template-areas: "buttons" "my-orders" "all-orders" "updates";
    }
}
section.buttons-container {
    grid-area: buttons;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 10px;
}


div.worker-container > .my-orders {
    grid-area: my-orders;
}
div.worker-container > .all-orders {
    grid-area: all-orders;
}
div.worker-container > .updates {
    grid-area: updates;
}
div.worker-container > .client-orders {
    grid-column: 1 / 3;
}




/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - orders.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/

div.orders-container {
    display: grid;
    margin: auto;
    display: grid;
    max-width: 1600px;
    grid-template-columns: auto 200px;
    grid-template-areas: "search new-order" "filters new-order" "orders orders" "paginator paginator";
}
@media (max-width: 1000px){
    div.orders-container {
        grid-template-columns: 100%;
        grid-template-areas: "search" "filters" "new-order" "orders" "paginator";
    }
}
div.orders-container .new-order{
    grid-area: new-order;
    margin: 20px auto 10px;
}
div.orders-container > form {
    grid-area: search;
}
section.orders-container {
    grid-area: orders;
    margin: 0 20px 20px 20px;
}
section.orders-container > div.order-pag{
    grid-area: paginator;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: calc(100% - 20px);
    margin: 10px auto;
}


/* Tabla Ordenes*/

table.orders-table tr.order.pending {border-color: #e3b7eb;}
table.orders-table tr.order.working {border-color: #ffcd85;}
table.orders-table tr.order.finished {border-color: #d2f5b0;}
table.orders-table tr.order.out {border-color: #c2dfff;} 
table.orders-table tr.order.canceled {border-color: #Ff8080;} 
table.orders-table tr.order > td.desc {
    line-height: 1.2em;
    overflow: hidden;
    height: calc(3.6em - 3px);
    
}
table.orders-table tr.order > td.desc > span.desc-cont {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: justify;
    max-height: 3.6em;
    width: 100%;
    line-height: 1.2em;
}
table.orders-table tr.order > td > span.desc-cont:after {
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 1.2em;
    background-image: linear-gradient(to left, #ffffffff 25%, #ffffff00 75%);
}
table.orders-table tr.order:hover > td > span.desc-cont:after {
    background-image: linear-gradient(to left, #f2f2f2ff 25%, #f2f2f200 75%);
}
table.orders-table tr.order > td.date {text-align: center;}
table.orders-table tr.order > td:not(:first-child):before{
    top: 10px;
    height: calc(100% - 20px);
}

@media (max-width: 1000px){
    table.orders-table tr.order > td.desc {
        background-color: #ddd;
        width: 100%;
        max-width: none;
        padding-top: 2px;
        height: auto;
    }
    table.orders-table tr.order > td.hidden {
        display: none;
    }
    table.orders-table tr.order > td.desc > span.desc-cont {
        max-height: calc(3.6em - 3px);
        
    }
    table.orders-table tr.order > td > span.desc-cont:after,
    table.orders-table tr.order:hover > td > span.desc-cont:after{
        background-image: linear-gradient(to left, #ddddddff 25%, #dddddd00 75%);
    }
}




/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - user.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/
div.users-container {
    display: grid;
    margin: auto;
    display: grid;
    max-width: 1600px;
    grid-template-columns: auto 200px;
    grid-template-areas: "search new-user" "filters new-user" "error error" "users users" "paginator paginator";
}
@media (max-width: 1000px){
    div.users-container {
        grid-template-columns: 100%;
        grid-template-areas: "search" "filters" "new-user" "error" "users" "paginator";
    }
}
div.users-container .msg{
    grid-area: error;
    width: calc(100% - 100px);
}
div.users-container .new-user{
    grid-area: new-user;
    margin: 20px auto 10px;
}
div.users-container > form {
    grid-area: search;
}
section.users-container {
    grid-area: users;
    margin: 0 20px 20px 20px;
}
section.users-container > div.users-pag{
    grid-area: paginator;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: calc(100% - 20px);
    margin: 10px auto;
}


table.user-table td.id {width: 50px;}
table.user-table td.role {width: 100px;}
table.user-table td.active {width: 50px;}
table.user-table td.registration-date,
table.user-table td.update-date {
    width: 150px;
}
@media (max-width: 1000px){
    table.user-table td.id {width: auto;}
    table.user-table td.role {width: auto;}
    table.user-table td.active {width: auto;}
    table.user-table td.registration-date,
    table.user-table td.update-date {
        width: auto;
    }
}
/*
------------------------------------------------------------------------------------------------------------
-------------------------------------------- - clothes.php - -------------------------------------------- 
------------------------------------------------------------------------------------------------------------
*/

div.clothes-container {
    display: grid;
    margin: auto;
    display: grid;
    max-width: 1600px;
    grid-template-columns: auto 200px;
    grid-template-areas: "search new-clothe" "filters new-clothe" "infoMSG infoMSG" "clothes clothes" "paginator paginator";
}
@media (max-width: 1000px){
    div.clothes-container {
        grid-template-columns: 100%;
        grid-template-areas: "search" "filters" "infoMSG" "new-clothe" "clothes" "paginator";
    }
}
div.clothes-container .new-clothe{
    grid-area: new-clothe;
    margin: 20px auto 10px;
}
div.clothes-container > form {
    grid-area: search;
}
div.clothes-container .msg {
    grid-area: infoMSG;
    width: calc(100% - 60px);
}
section.clothes-container {
    grid-area: clothes;
    margin: 0 20px 20px 20px;
}

section.clothes-container > div.clothes-pag{
    grid-area: paginator;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: calc(100% - 20px);
    margin: 10px auto;
}

table.clothes-table td.id {width: 60px;}
table.clothes-table td.num-fixes {width: 100px;}
table.clothes-table td.active {width: 60px;}
table.clothes-table td.date {width: 180px; text-align: center;}

@media (max-width: 1000px){
    table.clothes-table td.id, 
    table.clothes-table td.num-fixes, 
    table.clothes-table td.active, 
    table.clothes-table td.date {width: auto; text-align: left;}
}


/* Ventana modal Añadir Prenda*/
.modal-box.new-clothe > .modal-box-content{
    height: 130px;
}
.modal-box.new-clothe > .modal-box-content > .modal-box-body  > form{
    display: flex;
    flex-flow: row wrap;
}
.modal-box.new-clothe > .modal-box-content > .modal-box-body  > form > *{
    flex-basis: 100%;
}
.modal-box.new-clothe > .modal-box-content > .modal-box-body  > form > div.form-buttons > input{
    margin: auto;
    height: 40px;
    display: block;
}